@model Modelo.Cadastros.Compra

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalhes da COMPRA efetuada";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Detalhes da Compra
    </div>
    <div class="panel-body">
    @Html.Partial("~/Views/Compras/_PartialDetailsContentPanel.cshtml", Model)
    </div>
    <div class="panel-footer panel-info">
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    @Html.ActionLink("Retornar para Listagem de Compras", "Index", null, new { @class = "btn btn-info col-md-12" })
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Alterar", "Edit", new { id = Model.CompraId }, new { @class = "btn btn-info col-md-8" })
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptPage{
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#menuCompra').addClass("active");
        });
    </script>
}